body {
  background-color: #F5F5DC;
  color: #000000;
  font-family: Arial;
  font-size: 11px;
  text-align: justify;
}

header {
  text-align: center;
  width: 600px;
  display: block;
}

nav {
  width: auto;
  font-family: Arial;
  color: #395E32;

}

.menyrad {
  height: 50px;
  width: 700px;
  background-color: #F5F5DC;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#meny {
  height: 50px;
  width: 700px;
  background-color: #F5F5DC;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: solid;

}

/*flexbox nya*/

#loga {
  height: 80px;
  width: 700px;
  text-align: center;
  background-color: #F5F5DC;
  justify-content: center;
  border: 10px #D6DEE0 dashed;
}

/*Stop p� nya*/


#btn-enter{
  height: auto;
  width: auto;
  align-items: center;
  text-align: center;
}
.login {
    height: auto;
    width: auto;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
#loginn {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
section {
  opacity: 100%;
  color: black;
}

footer {
  color: #000000;
  opacity: 20%;
  text-align: left;
  font-family: Arial;
  font-size: 9px;

}

a:link {
  text-decoration: none;
  font-style: italic;
}

a:visited {
  text-decoration: overline;
  color: #03598A;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  font-style: normal;
  font-size: 102%;
  color: black;
  background-color: #263238;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  font-weight: bold;
}

h3 {
  font-size: 12px;
  font-style: italic;
}

p {
  font-size: 11px;
  font-style: italic;
}

.link {
  font-style: italic;
  color: green;
}

table, th, td {
  text-align: left;
}
